@import url(./css/reset.css);
@import url(./css/normalize.css);

*{
    box-sizing: border-box;
}

.wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.radial-gradient{
    height: 300px;
    width: 300px;
    overflow: auto;
    border: 3px solid black;
    padding: 20px;
    background-color: #fff;
    background-image: radial-gradient(red, blue, green);
    background-size: cover;
    background-repeat: no-repeat;
}

.radial-gradient2{
    height: 300px;
    width: 300px;
    overflow: auto;
    border: 3px solid black;
    padding: 20px;
    background-color: #fff;
    background-image: radial-gradient(red 30%, blue 30% 70%, green 70%);
    background-size: cover;
    background-repeat: no-repeat;
}